[submodule "result"]
	path = result
	url = https://github.com/samitkumarpatel/voting-result-api.git
[submodule "processor"]
	path = processor
	url = https://github.com/samitkumarpatel/voting-processor.git
[submodule "vote-api"]
	path = vote-api
	url = https://github.com/samitkumarpatel/voting-api.git
[submodule "infra"]
	path = infra
	url = https://github.com/samitkumarpatel/voting-infra.git
[submodule "ui"]
	path = ui
	url = https://github.com/samitkumarpatel/voting-ui.git
